.manage-specialty-container {
  .specialty-title {
    font-size: 20px;
    text-transform: uppercase;
    color: #0071ba;
    font-weight: 600;
  }
  .specialty-button {
  }
  .specialty-all {
  }
}
