.detail-specialty-container {
  // width: 100%;
  .desc-specialty {
    height: 200px;
    // border: 1px solid red;
    background-color: #eeeeee;
  }
  .row.specialty-app {
    padding-top: 50px;
    padding: 0 100px;
    background-color: #eeeeee !important;
    .each-doctor {
      background-color: #fff;
      box-shadow: 0 1px 6px rgba(32, 33, 36, 0.28);
      border-radius: 8px;
      border-bottom: none;
      margin-bottom: 10px !important;
      margin-top: 10px !important;
      display: flex;
      width: 100%;
      min-height: 300px;
      margin: 0 100px;
      // background-color: #eeeeee;
      .content-left {
        width: 50%;
        // background-color: #ffffff;
      }
      .content-right {
        width: 50%;
        border-left: 1px solid #eeeeee;
        .doctor-schedule {
          .doctor-schedule-container {
            border-right: none !important;
          }
        }
        .doctor-extra-infor {
        }
        // background-color: #ffffff;
      }
    }
  }
}
