.doctor-deltail-container {
  height: 500px;
  .intro-doctor {
    display: flex;
    padding: 0 100px;

    .content__left {
      width: 20%;
      width: 120px;
      height: 120px;
      background: center center no-repeat;
      border-radius: 50%;
      margin: 10px 20px;
      background-size: contain;
    }
    .content__right {
      width: 80%;
      display: flex;
      flex-direction: column;
      padding: 0 10px 0;
      .up {
        padding-top: 15px;
        font-size: 25px;
        font-weight: 600;
        color: #333333;
      }
      .down {
        padding-top: 15px;
        font-size: 13px;
        color: #555555;
      }
    }
  }
  .schedule-doctor {
    margin: 0 100px;
    margin-top: 30px;
    display: flex;
    min-height: 200px;
    .content-left {
      width: 50%;
    }
    .content-right {
      width: 50%;
    }
  }
  .deitail-info-doctor {
    background-color: #f9f9f9;
    width: 100%;
    padding: 10px 100px;
    border-bottom: 1px solid #ccc;
    border-top: 1px solid #ccc;
    h2 {
      font-size: 20px;
      font-weight: 600;
    }
    h3 {
      font-size: 16px;
    }
    li,
    p {
      color: #000000;
    }
  }
}

@media only screen and (max-width: 768px) {
  .doctor-deltail-container .intro-doctor {
    padding: 0;
  }
  .doctor-deltail-container .schedule-doctor {
    margin: 0;
    margin-top: 30px;
    display: flex;
    flex-direction: column;
  }
  .doctor-deltail-container .schedule-doctor .content-left {
    width: 100%;
  }
  .doctor-deltail-container .schedule-doctor .content-right {
    width: 100%;
    padding-bottom: 5px;
  }
  .doctor-deltail-container .deitail-info-doctor {
    padding: 10px 20px;
  }
}

@media only screen and (max-width: 680px) {
  .doctor-deltail-container .intro-doctor .content__left {
    width: 90px;
    height: 90px;
  }
}

@media only screen and (max-width: 576px) {
  .col-6 {
    flex: 0 0 100%;
    max-width: 100%;
  }
  .booking-modal__container .booking-modal__content .booking-modal__footer {
    display: flex;
    flex-direction: column;
    grid-gap: 8px;
  }
}
